$bgColor: #f7f9fb;
$borderColor: #ccc;
$textColor: #576271;
$fontBase: 'Roboto', sans-serif;
$fontSize: 13px;
$fontWeight: 400;
$red: #c70000;
$lightRed: #ff0000;
$black: #000;
$lightGray: #aaa;
$blue: #378bee;
$darkBlue: #0855ad;
$green: #00db30;
$orange: #ff6600;
$white: #fff;
